@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Leaflet styles override */
.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
  margin: 0.75rem;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}